<?xml version="1.0"?>
<FlowConfigurations>
    <Flow>
        <Frame>
            <Ethernet_header>
                <h_dest>00:00:de:ad:be:ef</h_dest>
                <h_source>1c:2d:de:ad:be:ef</h_source>
                <proto>0x88e7</proto>
            </Ethernet_header>
            <Custom_data>
                <file>data/data_eth.bin</file>
            </Custom_data>
        </Frame>
    </Flow>
    <Flow>
        <Frame>
            <Ethernet_header>
                <h_dest>00:00:de:ad:be:ef</h_dest>
                <h_source>1c:2d:de:ad:be:ef</h_source>
                <proto>0x8100</proto>
            </Ethernet_header>
            <VLAN_header>
                <h_vlan_TCI>20</h_vlan_TCI>
                <h_vlan_encapsulated_proto>0x800</h_vlan_encapsulated_proto>
            </VLAN_header>
            <IPv4_header>
                <ihl>5</ihl>
                <version>4</version>
                <tos>0</tos>
                <tot_len>200</tot_len>
                <id>9798</id>
                <frag_off>0</frag_off>
                <ttl>128</ttl>
                <protocol>17</protocol>
                <check>34234</check>
                <saddr>192.168.1.2</saddr>
                <daddr>192.168.1.100</daddr>
            </IPv4_header>
            <UDP_header>
                <source>5670</source>
                <dest>4789</dest>
                <len>80</len>
                <check>0</check>
            </UDP_header>
            <Custom_data>
               <file>data/data_udp.bin</file>
            </Custom_data>
        </Frame>
    </Flow>
    <Flow>
        <Frame>
            <Ethernet_header>
                <h_dest>00:00:de:ad:be:ef</h_dest>
                <h_source>1c:2d:de:ad:be:ef</h_source>
                <proto>0x8100</proto>
            </Ethernet_header>
            <VLAN_header>
                <h_vlan_TCI>20</h_vlan_TCI>
                <h_vlan_encapsulated_proto>0x8100</h_vlan_encapsulated_proto>
            </VLAN_header>
            <IPv4_header>
                <ihl>4</ihl>
                <tos>2</tos>
                <tot_len>100</tot_len>
                <id>0x258a</id>
                <frag_off></frag_off>
                <ttl>128</ttl>
                <protocol>1</protocol>
                <check>0x7687</check>
                <saddr>192.168.1.2</saddr>
                <daddr>192.168.1.1</daddr>
            </IPv4_header>
            <ICMP_header>
                <type>1</type>
                <code>1</code>
                <checksum></checksum>
                <echo_id>3456</echo_id>
                <echo_sequence>10</echo_sequence>
                <gateway>0</gateway>
                <frag_unused>0</frag_unused>
                <frag_mtu>0</frag_mtu>
            </ICMP_header>
            <Custom_data>
                <file>data/data_icmp.bin</file>
            </Custom_data>
        </Frame>
    </Flow>
    <Flow>
        <Frame>
            <Ethernet_header>
                <h_dest>00:00:de:ad:be:ef</h_dest>
                <h_source>1c:2d:de:ad:be:ef</h_source>
                <proto>0x8100</proto>
            </Ethernet_header>
            <VLAN_header>
                <h_vlan_TCI>20</h_vlan_TCI>
                <h_vlan_encapsulated_proto>0x8100</h_vlan_encapsulated_proto>
            </VLAN_header>
            <IPv4_header>
                <ihl>4</ihl>
                <tos>2</tos>
                <tot_len>100</tot_len>
                <id>0x258a</id>
                <frag_off></frag_off>
                <ttl>128</ttl>
                <protocol>6</protocol>
                <check>0x7687</check>
                <saddr>192.168.1.2</saddr>
                <daddr>192.168.1.1</daddr>
            </IPv4_header>
            <TCP_header>
                <source></source>
                <dest></dest>
                <seq></seq>
                <ack_seq></ack_seq>
                <res1></res1>
                <doff></doff>
                <fin></fin>
                <syn></syn>
                <rst></rst>
                <psh></psh>
                <ack></ack>
                <urg></urg>
                <ece></ece>
                <cwr></cwr>
                <window></window>
                <check></check>
                <urg_ptr></urg_ptr>
            </TCP_header>
            <Custom_data>
                <file>data/data_tcp.bin</file>
            </Custom_data>
        </Frame>
    </Flow>
</FlowConfigurations>
